.small-border {
    max-width: 1250px;
    Margin: 10px auto;
    Padding: 20px;
    box-shadow: gray 0px 0px 5px;
    border-radius: 5px;
    border: 2px solid;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #818589;
}

h1 {
  background-color: rgba(255, 255, 255, 0.65);
  margin-top: 115px;
  text-align: center;
  width: 610px;
  margin-left: 625px;
  margin: 115px auto 0;
  border-radius: 10px;
}

.button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: grey;
  color: black;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
  }

.button a:hover {
  background-color: whitesmoke;
  }

@media (max-width: 768px) {
  h1 {
    width: 80%; /* Adjust width for smaller screens */
    margin-top: 80px; /* Adjust margin-top for smaller screens */
    margin-left: auto; /* Center the header horizontally */
    margin-right: auto;
  }
}

header {
  position: relative;
  height: 280px;
  color: black;
  text-align: center; 	
  padding: 20px;

}

header::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background4.JPG');
  background-size: cover;
  background-position: center;
  
  z-index: -1; 
}

nav {
	background-color: #36454F;
	color: red;
	text-align: center;
	padding: 1em;
	margin: 5 10px;
  font-size: 20px;

}

h5 {
  text-align: center;
  font-size: 30px;
}

nav a {
    text-decoration: none; /* Remove the underline */
    color: #EEEEEE; /* Optional: Set the text color */
}
section {
    max-width: 1250px;
    Margin: 10px auto;
    Padding: 10px;
    Background-color: #D3D3D3;
    box-shadow: gray 0px 0px 5px;
    border-radius: 5px;

}

center-iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Set a specific height for centering vertically */
}

footer {
	background-color: #0a0a0a;
	color: white;
	text-align: center;
	padding: .5em;
	bottom: 0;
	width: 100%;

}



iframe {
  border: black;
  margin-left: 380px;
  width: 500px;
  margin-bottom: 50px;
  height: 580px;

}
img {
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}

h2 {
  text-align: left;
  font-size: 35px ;

}

.form-container {
    float: right;
    width: 30%; /* Adjust the width as needed */
    padding: 00px;

}


.form-container h2{
  margin-top: 0px;

}


.form-container form {
  margin-top: -20px; /* Adjust the margin to move the form up */

}

/* Adjust the margin for better spacing */
.small-border h2, .small-border p, .small-border h4 {
  margin-bottom: 25px;

}


h4 {
  text-align: left;
  font-size: 15px ;

}

h6 {
  text-align: left;
  font-size: 15px ;

}

.title h2 {
  text-align: center;
}

.services-section {
  width: 76%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  text-align: center;
  /*background-color: red;*/
}


.card1 h2 {
  background-color: rgba(255, 255, 255, 0.65);
  font-size: xx-large;
  font-weight: bold;
  max-width: 1250px;
  Margin: 10px auto;
  Padding: 10px;
  Background color: green;
  box-shadow: gray 0px 0px 5px;
  border-radius: 5px;
}

.card1 section {
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 125%;
  font-weight: bold;
}

@media screen and (max-width: 940px) {
  .services-section {
    display: flex;
    flex-direction: column;
  }
}

.services-section h2{
  background-color: rgba(255, 255, 255, 0.65);
  font-size: xx-large;
  font-weight: bold;
  max-width: 1250px;
  Margin: 10px auto;
  Padding: 10px;
  Background color: green;
  box-shadow: gray 0px 0px 5px;
  border-radius: 5px;
}

.services-section section {
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 125%;
  font-weight: bold;
}

.card1 {
  width: 97%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
  padding: 20px 0px;
  background-color: #fff;
  border-radius: 10px;
  background-image: url(mowinggrass.jpg);
  background-size: cover;
}

.card2 {
  width: 97%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
  padding: 20px 0px;
  background-color: #fff;
  border-radius: 10px;
  background-image: url(landscapingdesign.jpg);
  background-size: cover;
}

.card3 {
  width: 97%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
  padding: 20px 0px;
  background-color: #fff;
  border-radius: 10px;
  background-image: url(mulch.jpg);
  background-size: cover;
}

.card4 {
  width: 97%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
  padding: 20px 0px;
  background-color: #fff;
  border-radius: 10px;
  background-image: url(irrigation.jpg);
  background-size: cover;
}

.card5 {
  width: 97%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
  padding: 20px 0px;
  background-color: #fff;
  border-radius: 10px;
  background-image: url(pruning.jpg);
  background-size: cover;
}

.card6 {
  width: 97%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
  padding: 20px 0px;
  background-color: #fff;
  border-radius: 10px;
  background-image: url(fertilization.jpg);
  background-size: cover;
}

.card7 {
  width: 97%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
  padding: 20px 0px;
  background-color: #fff;
  border-radius: 10px;
  background-image: url(rockgravel.jpg);
  background-size: cover;
}

.accordion .accordion-item {
  border-bottom: 1px solid var(--lightgray);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--text);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--blue);
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--blue);
  border: 1px solid var(--blue);
}

.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: var(--blue);
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
}
.accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
