.small-border {
    max-width: 1250px;
    Margin: 10px auto;
    Padding: 20px;
    box-shadow: gray 0px 0px 5px;
    border-radius: 5px;
    border: 2px solid;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.9em;
}

h1 {
  background-color: rgba(255, 255, 255, 0.65);
  margin-top: 115px;
  text-align: center;
  width: 610px;
  margin-left: 625px;
  margin: 115px auto 0;
  border-radius: 10px;
}

.button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: grey;
  color: black;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
  }

.button a:hover {
  background-color: whitesmoke;
  }

@media (max-width: 768px) {
  h1 {
    width: 80%; /* Adjust width for smaller screens */
    margin-top: 80px; /* Adjust margin-top for smaller screens */
    margin-left: auto; /* Center the header horizontally */
    margin-right: auto;
  }
}

header {
  position: relative;
  height: 280px;
  color: black;
  text-align: center; 	
  padding: 20px;
}

header::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background4.JPG');
  background-size: cover;
  background-position: center;
  
  z-index: -1; 
}

nav {
	background-color: #36454F;
	color: red;
	text-align: center;
	padding: 1em;
	margin: 5 10px;
  font-size: 20px;
}

h5 {
  text-align: center;
  font-size: 30px;
}

nav a {
    text-decoration: none; /* Remove the underline */
    color: #EEEEEE; /* Optional: Set the text color */
}
